
$widths: (
    '1': 100px,
    '2': 200px,
    '3': 300px,
    '4': 400px,
    '5': 500px,
    '6': 600px,
    '7': 700px,
    '8': 800px,
    '9': 900px,
    '10': 1000px,
    'half': 50vw,
);

.lock-scroll {
    overflow: hidden;
}

.x-scroller {
    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-wrap: nowrap;

    > .scroller-item {
        height: 100%;
        max-width: 100vw;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

        flex: 0 0 auto; // Don't shrink or grow, just respect width

        @each $key, $size in $widths {
            &.width-#{$key} {
                width: min(#{$size}, 100vw);
            }
        }

        &.text-box {
            display: flex;
            align-items: center;
            justify-content: center;

            > div {
                min-width: 300px;
                max-width: 50%;
            }
        }

        &.image-box {
            height: 100%;
            
            .box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                max-height: 100%;

                .image-wrapper {
                    flex: 1 1 auto;
                    min-height: 0;

                    figure {
                        // display: flex;
                        // justify-content: center;
                        
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                        }
                    }

                }
            }
        }
    }

    // Removing scrollbar ________
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    // ___________________________
}
