html {
    overflow: hidden;


    strong {
        color: $primary;
    }

    &[data-theme="dark"] {
        strong {
            color: $primary;
        }
    }
}


.has-separator {
    > div:not(:last-child) {
        border-bottom: 2px solid $text;
        padding-bottom: 2rem;
    }

    > div:not(:first-child) {
        padding-top: 2rem;
    }
}