html {
    overflow: hidden;


    strong {
        color: $primary;
    }

    hr.divider {
        background-color: $light;
        height: 0.125em;
        margin: 0.25rem 0;
    }

    // &[data-theme="dark"] {
    //     strong {
    //         color: $primary;
    //     }

    //     hr.divider {
    //         background-color: $dark;
    //     }
    // }
}


.has-separator {
    > div:not(:last-child) {
        border-bottom: 2px solid $text;
        padding-bottom: 2rem;
    }

    > div:not(:first-child) {
        padding-top: 2rem;
    }
}
