html {
    .text-invert {
        color: $light;
    }

    .button.text-invert {
        color: $light;

        &:hover {
            color: $dark;
        }
    }

    &[data-theme="dark"] {
        .text-invert {
            color: $dark;
        }

        .button.text-invert {
            color: $light;

            &:hover {
                color: $light;
            }
        }
    }
}
