.text-box {
    height:  100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        min-width: 300px;
        width: 50%;

        text-align: center;
    }
}

html {
    .text-invert {
        color: $light;
    }

    .button {
        &:hover {
            .text-invert {
                color: $dark;
            }
        }
    }

    &[data-theme="dark"] {
        .text-invert {
            color: $dark;
        }

        .button {
            &:hover {
                .text-invert {
                    color: $light;
                }
            }
        }
    }
}
